    :root {
            --primary-navy: #12193C;
            --secondary-blue: #325582;
            --accent-blue: #7487AA;
            --slate-blue: #232F43;          

            --white: #FFFFFF;
            --off-white: #F5F8FC;

            --text-main: #232F43;
            --text-light: #7487AA;

        } 



        
        body {
            font-family: "DFKai-SB", sans-serif;
        }
        
        h1, h2, h3 {
            font-family: "DFKai-SB";
        }
        
        h2 {
            color: #325582;
        }
        
        header {
            padding: 20px;
            background-color: #12193C; 
            color:#ffffff;
            max-width: 100%; 
            height: auto;
            
        }
        
        header h2 {
            color: #aac5f7;
        }
        
        footer {
            background-image:linear-gradient(#7487AA,white);
            padding: 30px 0;
        }
        
        .row-content {
            padding: 50px 0;
            border-bottom: 1px ridge;
            min-height: 200px;
        }
    
        .navbar {
                background-color: #12193C;
                padding: 30px 0;
                

        } 

        .center {
            text-align: center;

        }


        /* .about-section { 
            margin-left: 40px; 
        } */





        .project {
            margin-bottom: 15px; /* Space between projects */
        }

        strong {
            font-size: 1.2em; /* Slightly larger bold text */
        }

        a {
            text-decoration: none; /* Remove underline from links */
            color: inherit; /* Use the parent color */
        }

        a:hover {
            text-decoration: underline; /* Optional: underline on hover */
        }

        p {
            margin: 0; /* Remove margin for p elements */
            padding: 0; /* Remove padding */
            
        }






    html, body {
            height: 100%;
            margin: 0;
            padding: 30px 0;
            }

    body {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            
            }

    main {
            flex: 1 0 auto;
            
            }

    footer {
            flex-shrink: 0;
            }


form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

input[type=text_name], select {
  width: 50%;
  padding: 10px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid var(--primary-navy);
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=text_email], select {
  width: 50%;
  height: 4px;
  padding: 10px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid var(--primary-navy);
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=text_message], select {
  width: 50%;
  height: 100px;
  padding: 5px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid var(--primary-navy);
  border-radius: 4px;
  box-sizing: border-box;
}



.breadcrumb {
  background: transparent;
  margin-top: 30px;
  justify-content: center;

  border: 1px solid hsla(0, 0%, 90%, 0.542);

}
.breadcrumb-item a {
  color: var(--primary-navy); /* Change link color */
}
.breadcrumb-item.active {
  color: var(--accent-blue); /* Color for active item */
}

#headerimage { 

    border-radius: 50%;
}